@import "ketcherails/scaffold";
@import "ketcherails/common_templates";
@import "jquery-ui";
@import "bootstrap";

body {
  padding-top: 60px;
}

.page-header a.btn {
  float: right;
}

.page-header a.btn + a.btn {
  margin-right: 8px;
}

input[type="radio"], input[type="checkbox"] {
  width: initial;
  height: initial;
  margin-top: 7px;
}

// this applys to Ketcher window in templates admin part
.structure-editor-modal {
  width: 90vw !important;
}

iframe#ifKetcher {
  width: 100%;
  height: 75vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
