img.template_template10-sidebar { width: 128px; height: 128px; background: url(sprite.png) -1px -1px no-repeat; }
img.template_template11-sidebar { width: 128px; height: 128px; background: url(sprite.png) -131px -1px no-repeat; }
img.template_template12 { width: 128px; height: 128px; background: url(sprite.png) -1px -131px no-repeat; }
img.template_template12-24 { width: 128px; height: 128px; background: url(sprite.png) -131px -131px no-repeat; }
img.template_template13 { width: 128px; height: 128px; background: url(sprite.png) -261px -1px no-repeat; }
img.template_template13-24 { width: 128px; height: 128px; background: url(sprite.png) -261px -131px no-repeat; }
img.template_template14 { width: 128px; height: 128px; background: url(sprite.png) -1px -261px no-repeat; }
img.template_template14-24 { width: 128px; height: 128px; background: url(sprite.png) -131px -261px no-repeat; }
img.template_template15 { width: 128px; height: 128px; background: url(sprite.png) -261px -261px no-repeat; }
img.template_template15-24 { width: 128px; height: 128px; background: url(sprite.png) -391px -1px no-repeat; }
img.template_template7-sidebar { width: 128px; height: 128px; background: url(sprite.png) -391px -131px no-repeat; }
img.template_template8-sidebar { width: 128px; height: 128px; background: url(sprite.png) -391px -261px no-repeat; }
img.template_template9-sidebar { width: 128px; height: 128px; background: url(sprite.png) -1px -391px no-repeat; }
img.customtemplate_customtemplate7-dropdown { width: 93px; height: 48px; background: url(sprite.png) -131px -391px no-repeat; }
img.customtemplate_customtemplate6-dropdown { width: 77px; height: 48px; background: url(sprite.png) -226px -391px no-repeat; }
img.customtemplate_customtemplate5-dropdown { width: 62px; height: 48px; background: url(sprite.png) -305px -391px no-repeat; }
img.customtemplate_customtemplate0-dropdown { width: 58px; height: 48px; background: url(sprite.png) -369px -391px no-repeat; }
img.customtemplate_customtemplate4-dropdown { width: 51px; height: 48px; background: url(sprite.png) -429px -391px no-repeat; }
img.customtemplate_customtemplate1-dropdown { width: 48px; height: 48px; background: url(sprite.png) -131px -441px no-repeat; }
img.customtemplate_customtemplate2-dropdown { width: 40px; height: 48px; background: url(sprite.png) -181px -441px no-repeat; }
img.customtemplate_customtemplate3-dropdown { width: 40px; height: 48px; background: url(sprite.png) -223px -441px no-repeat; }
img.main_logo { width: 36px; height: 36px; background: url(sprite.png) -482px -391px no-repeat; }
img.bond_bond_any-sidebar { width: 32px; height: 32px; background: url(sprite.png) -265px -441px no-repeat; }
img.bond_bond_aromatic-sidebar { width: 32px; height: 32px; background: url(sprite.png) -299px -441px no-repeat; }
img.bond_bond_crossed-sidebar { width: 32px; height: 32px; background: url(sprite.png) -333px -441px no-repeat; }
img.bond_bond_double-sidebar { width: 32px; height: 32px; background: url(sprite.png) -367px -441px no-repeat; }
img.bond_bond_doublearomatic-sidebar { width: 32px; height: 32px; background: url(sprite.png) -401px -441px no-repeat; }
img.bond_bond_down-sidebar { width: 32px; height: 32px; background: url(sprite.png) -435px -441px no-repeat; }
img.bond_bond_single-sidebar { width: 32px; height: 32px; background: url(sprite.png) -469px -441px no-repeat; }
img.bond_bond_singlearomatic-sidebar { width: 32px; height: 32px; background: url(sprite.png) -521px -1px no-repeat; }
img.bond_bond_singledouble-sidebar { width: 32px; height: 32px; background: url(sprite.png) -521px -35px no-repeat; }
img.bond_bond_triple-sidebar { width: 32px; height: 32px; background: url(sprite.png) -521px -69px no-repeat; }
img.bond_bond_up-sidebar { width: 32px; height: 32px; background: url(sprite.png) -521px -103px no-repeat; }
img.bond_bond_updown-sidebar { width: 32px; height: 32px; background: url(sprite.png) -521px -137px no-repeat; }
img.customtemplate_customtemplate0-sidebar { width: 32px; height: 32px; background: url(sprite.png) -521px -171px no-repeat; }
img.customtemplate_customtemplate1-sidebar { width: 32px; height: 32px; background: url(sprite.png) -521px -205px no-repeat; }
img.customtemplate_customtemplate2-sidebar { width: 32px; height: 32px; background: url(sprite.png) -521px -239px no-repeat; }
img.customtemplate_customtemplate3-sidebar { width: 32px; height: 32px; background: url(sprite.png) -521px -273px no-repeat; }
img.customtemplate_customtemplate4-sidebar { width: 32px; height: 32px; background: url(sprite.png) -521px -307px no-repeat; }
img.customtemplate_customtemplate5-sidebar { width: 32px; height: 32px; background: url(sprite.png) -521px -341px no-repeat; }
img.customtemplate_customtemplate6-sidebar { width: 32px; height: 32px; background: url(sprite.png) -521px -375px no-repeat; }
img.customtemplate_customtemplate7-sidebar { width: 32px; height: 32px; background: url(sprite.png) -521px -409px no-repeat; }
img.main_arom { width: 32px; height: 32px; background: url(sprite.png) -521px -443px no-repeat; }
img.main_arrow { width: 32px; height: 32px; background: url(sprite.png) -521px -477px no-repeat; }
img.main_chain { width: 32px; height: 32px; background: url(sprite.png) -1px -521px no-repeat; }
img.main_charge_minus { width: 32px; height: 32px; background: url(sprite.png) -35px -521px no-repeat; }
img.main_charge_plus { width: 32px; height: 32px; background: url(sprite.png) -69px -521px no-repeat; }
img.main_dearom { width: 32px; height: 32px; background: url(sprite.png) -103px -521px no-repeat; }
img.main_document-new { width: 32px; height: 32px; background: url(sprite.png) -137px -521px no-repeat; }
img.main_document-open { width: 32px; height: 32px; background: url(sprite.png) -171px -521px no-repeat; }
img.main_document-save-as { width: 32px; height: 32px; background: url(sprite.png) -205px -521px no-repeat; }
img.main_edit-clear { width: 32px; height: 32px; background: url(sprite.png) -239px -521px no-repeat; }
img.main_edit-copy { width: 32px; height: 32px; background: url(sprite.png) -273px -521px no-repeat; }
img.main_edit-cut { width: 32px; height: 32px; background: url(sprite.png) -307px -521px no-repeat; }
img.main_edit-paste { width: 32px; height: 32px; background: url(sprite.png) -341px -521px no-repeat; }
img.main_edit-redo { width: 32px; height: 32px; background: url(sprite.png) -375px -521px no-repeat; }
img.main_edit-undo { width: 32px; height: 32px; background: url(sprite.png) -409px -521px no-repeat; }
img.main_info { width: 32px; height: 32px; background: url(sprite.png) -443px -521px no-repeat; }
img.main_layout { width: 32px; height: 32px; background: url(sprite.png) -477px -521px no-repeat; }
img.main_polymer { width: 32px; height: 32px; background: url(sprite.png) -511px -521px no-repeat; }
img.main_sgroup { width: 32px; height: 32px; background: url(sprite.png) -555px -1px no-repeat; }
img.main_star { width: 32px; height: 32px; background: url(sprite.png) -555px -35px no-repeat; }
img.reaction_reaction-arrow-sidebar { width: 32px; height: 32px; background: url(sprite.png) -555px -69px no-repeat; }
img.reaction_reaction-automap-sidebar { width: 32px; height: 32px; background: url(sprite.png) -555px -103px no-repeat; }
img.reaction_reaction-map-sidebar { width: 32px; height: 32px; background: url(sprite.png) -555px -137px no-repeat; }
img.reaction_reaction-plus-sidebar { width: 32px; height: 32px; background: url(sprite.png) -555px -171px no-repeat; }
img.reaction_reaction-unmap-sidebar { width: 32px; height: 32px; background: url(sprite.png) -555px -205px no-repeat; }
img.rgroup_rgroup-attpoints-sidebar { width: 32px; height: 32px; background: url(sprite.png) -555px -239px no-repeat; }
img.rgroup_rgroup-fragment-sidebar { width: 32px; height: 32px; background: url(sprite.png) -555px -273px no-repeat; }
img.rgroup_rgroup-label-sidebar { width: 32px; height: 32px; background: url(sprite.png) -555px -307px no-repeat; }
img.selection_lasso-sidebar { width: 32px; height: 32px; background: url(sprite.png) -555px -341px no-repeat; }
img.selection_rectangle-sidebar { width: 32px; height: 32px; background: url(sprite.png) -555px -375px no-repeat; }
img.selection_structure-sidebar { width: 32px; height: 32px; background: url(sprite.png) -555px -409px no-repeat; }
img.template_template0-sidebar { width: 32px; height: 32px; background: url(sprite.png) -555px -443px no-repeat; }
img.template_template1-sidebar { width: 32px; height: 32px; background: url(sprite.png) -555px -477px no-repeat; }
img.template_template2-sidebar { width: 32px; height: 32px; background: url(sprite.png) -555px -511px no-repeat; }
img.template_template3-sidebar { width: 32px; height: 32px; background: url(sprite.png) -1px -555px no-repeat; }
img.template_template4-sidebar { width: 32px; height: 32px; background: url(sprite.png) -35px -555px no-repeat; }
img.template_template5-sidebar { width: 32px; height: 32px; background: url(sprite.png) -69px -555px no-repeat; }
img.template_template6-sidebar { width: 32px; height: 32px; background: url(sprite.png) -103px -555px no-repeat; }
img.transform_transform-flip-h-sidebar { width: 32px; height: 32px; background: url(sprite.png) -137px -555px no-repeat; }
img.transform_transform-flip-v-sidebar { width: 32px; height: 32px; background: url(sprite.png) -171px -555px no-repeat; }
img.transform_transform-rotate-sidebar { width: 32px; height: 32px; background: url(sprite.png) -205px -555px no-repeat; }
img.bond_bond_any-dropdown { width: 24px; height: 24px; background: url(sprite.png) -131px -491px no-repeat; }
img.bond_bond_aromatic-dropdown { width: 24px; height: 24px; background: url(sprite.png) -157px -491px no-repeat; }
img.bond_bond_crossed-dropdown { width: 24px; height: 24px; background: url(sprite.png) -183px -491px no-repeat; }
img.bond_bond_double-dropdown { width: 24px; height: 24px; background: url(sprite.png) -209px -491px no-repeat; }
img.bond_bond_doublearomatic-dropdown { width: 24px; height: 24px; background: url(sprite.png) -235px -491px no-repeat; }
img.bond_bond_down-dropdown { width: 24px; height: 24px; background: url(sprite.png) -261px -491px no-repeat; }
img.bond_bond_single-dropdown { width: 24px; height: 24px; background: url(sprite.png) -287px -491px no-repeat; }
img.bond_bond_singlearomatic-dropdown { width: 24px; height: 24px; background: url(sprite.png) -313px -491px no-repeat; }
img.bond_bond_singledouble-dropdown { width: 24px; height: 24px; background: url(sprite.png) -339px -491px no-repeat; }
img.bond_bond_triple-dropdown { width: 24px; height: 24px; background: url(sprite.png) -365px -491px no-repeat; }
img.bond_bond_up-dropdown { width: 24px; height: 24px; background: url(sprite.png) -391px -491px no-repeat; }
img.bond_bond_updown-dropdown { width: 24px; height: 24px; background: url(sprite.png) -417px -491px no-repeat; }
img.main_view-zoom-in { width: 24px; height: 24px; background: url(sprite.png) -443px -491px no-repeat; }
img.main_view-zoom-out { width: 24px; height: 24px; background: url(sprite.png) -469px -491px no-repeat; }
img.reaction_reaction-arrow-dropdown { width: 24px; height: 24px; background: url(sprite.png) -495px -491px no-repeat; }
img.reaction_reaction-automap-dropdown { width: 24px; height: 24px; background: url(sprite.png) -239px -555px no-repeat; }
img.reaction_reaction-map-dropdown { width: 24px; height: 24px; background: url(sprite.png) -265px -555px no-repeat; }
img.reaction_reaction-plus-dropdown { width: 24px; height: 24px; background: url(sprite.png) -291px -555px no-repeat; }
img.reaction_reaction-unmap-dropdown { width: 24px; height: 24px; background: url(sprite.png) -317px -555px no-repeat; }
img.rgroup_rgroup-attpoints-dropdown { width: 24px; height: 24px; background: url(sprite.png) -343px -555px no-repeat; }
img.rgroup_rgroup-fragment-dropdown { width: 24px; height: 24px; background: url(sprite.png) -369px -555px no-repeat; }
img.rgroup_rgroup-label-dropdown { width: 24px; height: 24px; background: url(sprite.png) -395px -555px no-repeat; }
img.selection_lasso-dropdown { width: 24px; height: 24px; background: url(sprite.png) -421px -555px no-repeat; }
img.selection_rectangle-dropdown { width: 24px; height: 24px; background: url(sprite.png) -447px -555px no-repeat; }
img.selection_structure-dropdown { width: 24px; height: 24px; background: url(sprite.png) -473px -555px no-repeat; }
img.template_template0-dropdown { width: 24px; height: 24px; background: url(sprite.png) -499px -555px no-repeat; }
img.template_template1-dropdown { width: 24px; height: 24px; background: url(sprite.png) -525px -555px no-repeat; }
img.template_template10-dropdown { width: 24px; height: 24px; background: url(sprite.png) -551px -555px no-repeat; }
img.template_template11-dropdown { width: 24px; height: 24px; background: url(sprite.png) -589px -1px no-repeat; }
img.template_template2-dropdown { width: 24px; height: 24px; background: url(sprite.png) -589px -27px no-repeat; }
img.template_template3-dropdown { width: 24px; height: 24px; background: url(sprite.png) -589px -53px no-repeat; }
img.template_template4-dropdown { width: 24px; height: 24px; background: url(sprite.png) -589px -79px no-repeat; }
img.template_template5-dropdown { width: 24px; height: 24px; background: url(sprite.png) -589px -105px no-repeat; }
img.template_template6-dropdown { width: 24px; height: 24px; background: url(sprite.png) -589px -131px no-repeat; }
img.template_template7-dropdown { width: 24px; height: 24px; background: url(sprite.png) -589px -157px no-repeat; }
img.template_template8-dropdown { width: 24px; height: 24px; background: url(sprite.png) -589px -183px no-repeat; }
img.template_template9-dropdown { width: 24px; height: 24px; background: url(sprite.png) -589px -209px no-repeat; }
img.transform_transform-flip-h-dropdown { width: 24px; height: 24px; background: url(sprite.png) -589px -235px no-repeat; }
img.transform_transform-flip-v-dropdown { width: 24px; height: 24px; background: url(sprite.png) -589px -261px no-repeat; }
img.transform_transform-rotate-dropdown { width: 24px; height: 24px; background: url(sprite.png) -589px -287px no-repeat; }
img.main_dropdown { width: 5px; height: 5px; background: url(sprite.png) -589px -313px no-repeat; }
