.icon-png-main-dropdown {
  object-fit: none;
  object-position: -4px -4px;
  width: 5px;
  height: 5px;
}
.icon-png-main-view-zoom-out {
  object-fit: none;
  object-position: -0px -13px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_aromatic-dropdown {
  object-fit: none;
  object-position: -4px -49px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template9-dropdown {
  object-fit: none;
  object-position: -4px -81px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_crossed-dropdown {
  object-fit: none;
  object-position: -4px -113px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template8-dropdown {
  object-fit: none;
  object-position: -4px -145px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_double-dropdown {
  object-fit: none;
  object-position: -4px -177px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template7-dropdown {
  object-fit: none;
  object-position: -4px -209px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_doublearomatic-dropdown {
  object-fit: none;
  object-position: -4px -241px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template6-dropdown {
  object-fit: none;
  object-position: -4px -273px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_down-dropdown {
  object-fit: none;
  object-position: -4px -305px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template5-dropdown {
  object-fit: none;
  object-position: -4px -337px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_single-dropdown {
  object-fit: none;
  object-position: -4px -369px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template4-dropdown {
  object-fit: none;
  object-position: -4px -401px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_singlearomatic-dropdown {
  object-fit: none;
  object-position: -4px -433px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template3-dropdown {
  object-fit: none;
  object-position: -4px -465px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_singledouble-dropdown {
  object-fit: none;
  object-position: -4px -497px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template2-dropdown {
  object-fit: none;
  object-position: -4px -529px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_triple-dropdown {
  object-fit: none;
  object-position: -4px -561px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template11-dropdown {
  object-fit: none;
  object-position: -4px -593px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_up-dropdown {
  object-fit: none;
  object-position: -4px -625px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template10-dropdown {
  object-fit: none;
  object-position: -4px -657px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_updown-dropdown {
  object-fit: none;
  object-position: -4px -689px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template1-dropdown {
  object-fit: none;
  object-position: -4px -721px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template0-dropdown {
  object-fit: none;
  object-position: -4px -753px;
  width: 32px;
  height: 32px;
}
.icon-png-transform-transform-rotate-dropdown {
  object-fit: none;
  object-position: -4px -785px;
  width: 32px;
  height: 32px;
}
.icon-png-transform-transform-flip-v-dropdown {
  object-fit: none;
  object-position: -4px -817px;
  width: 32px;
  height: 32px;
}
.icon-png-transform-transform-flip-h-dropdown {
  object-fit: none;
  object-position: -4px -849px;
  width: 32px;
  height: 32px;
}
.icon-png-selection-structure-dropdown {
  object-fit: none;
  object-position: -4px -881px;
  width: 32px;
  height: 32px;
}
.icon-png-selection-rectangle-dropdown {
  object-fit: none;
  object-position: -4px -913px;
  width: 32px;
  height: 32px;
}
.icon-png-selection-lasso-dropdown {
  object-fit: none;
  object-position: -4px -945px;
  width: 32px;
  height: 32px;
}
.icon-png-rgroup-rgroup-label-dropdown {
  object-fit: none;
  object-position: -4px -977px;
  width: 32px;
  height: 32px;
}
.icon-png-rgroup-rgroup-fragment-dropdown {
  object-fit: none;
  object-position: -4px -1009px;
  width: 32px;
  height: 32px;
}
.icon-png-rgroup-rgroup-attpoints-dropdown {
  object-fit: none;
  object-position: -4px -1041px;
  width: 32px;
  height: 32px;
}
.icon-png-reaction-reaction-unmap-dropdown {
  object-fit: none;
  object-position: -4px -1073px;
  width: 32px;
  height: 32px;
}
.icon-png-reaction-reaction-plus-dropdown {
  object-fit: none;
  object-position: -4px -1105px;
  width: 32px;
  height: 32px;
}
.icon-png-reaction-reaction-map-dropdown {
  object-fit: none;
  object-position: -4px -1137px;
  width: 32px;
  height: 32px;
}
.icon-png-reaction-reaction-automap-dropdown {
  object-fit: none;
  object-position: -4px -1169px;
  width: 32px;
  height: 32px;
}
.icon-png-reaction-reaction-arrow-dropdown {
  object-fit: none;
  object-position: -4px -1201px;
  width: 32px;
  height: 32px;
}
.icon-png-main-view-zoom-in {
  object-fit: none;
  object-position: -0px -1229px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_any-dropdown {
  object-fit: none;
  object-position: -4px -1265px;
  width: 32px;
  height: 32px;
}
.icon-png-selection-rectangle-sidebar {
  object-fit: none;
  object-position: -4px -1297px;
  width: 32px;
  height: 32px;
}
.icon-png-main-arrow {
  object-fit: none;
  object-position: -4px -1337px;
  width: 32px;
  height: 32px;
}
.icon-png-main-charge_minus {
  object-fit: none;
  object-position: -4px -1377px;
  width: 32px;
  height: 32px;
}
.icon-png-main-charge_plus {
  object-fit: none;
  object-position: -4px -1417px;
  width: 32px;
  height: 32px;
}
.icon-png-main-dearom {
  object-fit: none;
  object-position: -4px -1457px;
  width: 32px;
  height: 32px;
}
.icon-png-main-document-new {
  object-fit: none;
  object-position: -4px -1497px;
  width: 32px;
  height: 32px;
}
.icon-png-main-document-open {
  object-fit: none;
  object-position: -4px -1537px;
  width: 32px;
  height: 32px;
}
.icon-png-main-document-save-as {
  object-fit: none;
  object-position: -4px -1577px;
  width: 32px;
  height: 32px;
}
.icon-png-main-arom {
  object-fit: none;
  object-position: -4px -1617px;
  width: 32px;
  height: 32px;
}
.icon-png-main-edit-clear {
  object-fit: none;
  object-position: -4px -1657px;
  width: 32px;
  height: 32px;
}
.icon-png-main-edit-copy {
  object-fit: none;
  object-position: -4px -1697px;
  width: 32px;
  height: 32px;
}
.icon-png-main-edit-cut {
  object-fit: none;
  object-position: -4px -1737px;
  width: 32px;
  height: 32px;
}
.icon-png-main-edit-paste {
  object-fit: none;
  object-position: -4px -1777px;
  width: 32px;
  height: 32px;
}
.icon-png-main-edit-redo {
  object-fit: none;
  object-position: -4px -1817px;
  width: 32px;
  height: 32px;
}
.icon-png-main-edit-undo {
  object-fit: none;
  object-position: -4px -1857px;
  width: 32px;
  height: 32px;
}
.icon-png-main-layout {
  object-fit: none;
  object-position: -4px -1897px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_aromatic-sidebar {
  object-fit: none;
  object-position: -4px -1937px;
  width: 32px;
  height: 32px;
}
.icon-png-main-polymer {
  object-fit: none;
  object-position: -4px -1977px;
  width: 32px;
  height: 32px;
}
.icon-png-main-sgroup {
  object-fit: none;
  object-position: -4px -2017px;
  width: 32px;
  height: 32px;
}
.icon-png-customtemplate-customtemplate7-sidebar {
  object-fit: none;
  object-position: -4px -2057px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_any-sidebar {
  object-fit: none;
  object-position: -4px -2097px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_crossed-sidebar {
  object-fit: none;
  object-position: -4px -2137px;
  width: 32px;
  height: 32px;
}
.icon-png-reaction-reaction-arrow-sidebar {
  object-fit: none;
  object-position: -4px -2177px;
  width: 32px;
  height: 32px;
}
.icon-png-customtemplate-customtemplate6-sidebar {
  object-fit: none;
  object-position: -4px -2217px;
  width: 32px;
  height: 32px;
}
.icon-png-reaction-reaction-automap-sidebar {
  object-fit: none;
  object-position: -4px -2257px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_double-sidebar {
  object-fit: none;
  object-position: -4px -2297px;
  width: 32px;
  height: 32px;
}
.icon-png-reaction-reaction-map-sidebar {
  object-fit: none;
  object-position: -4px -2337px;
  width: 32px;
  height: 32px;
}
.icon-png-customtemplate-customtemplate5-sidebar {
  object-fit: none;
  object-position: -4px -2377px;
  width: 32px;
  height: 32px;
}
.icon-png-reaction-reaction-plus-sidebar {
  object-fit: none;
  object-position: -4px -2417px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template6-sidebar {
  object-fit: none;
  object-position: -4px -2457px;
  width: 32px;
  height: 32px;
}
.icon-png-reaction-reaction-unmap-sidebar {
  object-fit: none;
  object-position: -4px -2497px;
  width: 32px;
  height: 32px;
}
.icon-png-customtemplate-customtemplate4-sidebar {
  object-fit: none;
  object-position: -4px -2537px;
  width: 32px;
  height: 32px;
}
.icon-png-rgroup-rgroup-attpoints-sidebar {
  object-fit: none;
  object-position: -4px -2577px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_doublearomatic-sidebar {
  object-fit: none;
  object-position: -4px -2617px;
  width: 32px;
  height: 32px;
}
.icon-png-rgroup-rgroup-fragment-sidebar {
  object-fit: none;
  object-position: -4px -2657px;
  width: 32px;
  height: 32px;
}
.icon-png-customtemplate-customtemplate3-sidebar {
  object-fit: none;
  object-position: -4px -2697px;
  width: 32px;
  height: 32px;
}
.icon-png-rgroup-rgroup-label-sidebar {
  object-fit: none;
  object-position: -4px -2737px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template5-sidebar {
  object-fit: none;
  object-position: -4px -2777px;
  width: 32px;
  height: 32px;
}
.icon-png-selection-lasso-sidebar {
  object-fit: none;
  object-position: -4px -2817px;
  width: 32px;
  height: 32px;
}
.icon-png-customtemplate-customtemplate2-sidebar {
  object-fit: none;
  object-position: -4px -2857px;
  width: 32px;
  height: 32px;
}
.icon-png-main-chain {
  object-fit: none;
  object-position: -4px -2897px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_down-sidebar {
  object-fit: none;
  object-position: -4px -2937px;
  width: 32px;
  height: 32px;
}
.icon-png-selection-structure-sidebar {
  object-fit: none;
  object-position: -4px -2977px;
  width: 32px;
  height: 32px;
}
.icon-png-customtemplate-customtemplate1-sidebar {
  object-fit: none;
  object-position: -4px -3017px;
  width: 32px;
  height: 32px;
}
.icon-png-transform-transform-flip-h-sidebar {
  object-fit: none;
  object-position: -4px -3057px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template4-sidebar {
  object-fit: none;
  object-position: -4px -3097px;
  width: 32px;
  height: 32px;
}
.icon-png-transform-transform-flip-v-sidebar {
  object-fit: none;
  object-position: -4px -3137px;
  width: 32px;
  height: 32px;
}
/*.icon-png-customtemplate-customtemplate0-sidebar {
  object-fit: none;
  object-position: -4px -3177px;
  width: 32px;
  height: 32px;
}*/
.icon-png-transform-transform-rotate-sidebar {
  object-fit: none;
  object-position: -4px -3217px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_single-sidebar {
  object-fit: none;
  object-position: -4px -3257px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template0-sidebar {
  object-fit: none;
  object-position: -4px -3297px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_updown-sidebar {
  object-fit: none;
  object-position: -4px -3337px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template1-sidebar {
  object-fit: none;
  object-position: -4px -3377px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_up-sidebar {
  object-fit: none;
  object-position: -4px -3417px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template3-sidebar {
  object-fit: none;
  object-position: -4px -3457px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_triple-sidebar {
  object-fit: none;
  object-position: -4px -3497px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_singlearomatic-sidebar {
  object-fit: none;
  object-position: -4px -3537px;
  width: 32px;
  height: 32px;
}
.icon-png-template-template2-sidebar {
  object-fit: none;
  object-position: -4px -3577px;
  width: 32px;
  height: 32px;
}
.icon-png-bond-bond_singledouble-sidebar {
  object-fit: none;
  object-position: -4px -3617px;
  width: 32px;
  height: 32px;
}
.icon-png-main-logo {
  object-fit: none;
  object-position: -4px -3657px;
  width: 38px;
  height: 38px;
}
.icon-png-customtemplate-customtemplate1-dropdown {
  object-fit: none;
  object-position: -4px -3701px;
  width: 103px;
  height: 104px;
}
.icon-png-customtemplate-customtemplate0-dropdown {
  object-fit: none;
  object-position: -4px -3805px;
  width: 124px;
  height: 104px;
}
.icon-png-customtemplate-customtemplate2-dropdown {
  object-fit: none;
  object-position: -4px -3909px;
  width: 88px;
  height: 104px;
}
.icon-png-customtemplate-customtemplate3-dropdown {
  object-fit: none;
  object-position: -4px -4013px;
  width: 88px;
  height: 104px;
}
.icon-png-customtemplate-customtemplate4-dropdown {
  object-fit: none;
  object-position: -4px -4117px;
  width: 109px;
  height: 104px;
}
.icon-png-customtemplate-customtemplate5-dropdown {
  object-fit: none;
  object-position: -4px -4221px;
  width: 132px;
  height: 104px;
}
.icon-png-customtemplate-customtemplate6-dropdown {
  object-fit: none;
  object-position: -4px -4325px;
  width: 162px;
  height: 104px;
}
.icon-png-customtemplate-customtemplate7-dropdown {
  object-fit: none;
  object-position: -4px -4429px;
  width: 193px;
  height: 104px;
}
.icon-png-template-template10-sidebar {
  object-fit: none;
  object-position: -4px -4533px;
  width: 136px;
  height: 136px;
}
.icon-png-template-template13-24 {
  object-fit: none;
  object-position: -4px -4669px;
  width: 136px;
  height: 136px;
}
.icon-png-template-template13 {
  object-fit: none;
  object-position: -4px -4805px;
  width: 136px;
  height: 136px;
}
.icon-png-template-template14-24 {
  object-fit: none;
  object-position: -4px -4941px;
  width: 136px;
  height: 136px;
}
.icon-png-template-template14 {
  object-fit: none;
  object-position: -4px -5077px;
  width: 136px;
  height: 136px;
}
.icon-png-template-template15-24 {
  object-fit: none;
  object-position: -4px -5213px;
  width: 136px;
  height: 136px;
}
.icon-png-template-template15 {
  object-fit: none;
  object-position: -4px -5349px;
  width: 136px;
  height: 136px;
}
.icon-png-template-template12 {
  object-fit: none;
  object-position: -4px -5485px;
  width: 136px;
  height: 136px;
}
.icon-png-template-template7-sidebar {
  object-fit: none;
  object-position: -4px -5621px;
  width: 136px;
  height: 136px;
}
.icon-png-template-template12-24 {
  object-fit: none;
  object-position: -4px -5757px;
  width: 136px;
  height: 136px;
}
.icon-png-template-template8-sidebar {
  object-fit: none;
  object-position: -4px -5893px;
  width: 136px;
  height: 136px;
}
.icon-png-template-template11-sidebar {
  object-fit: none;
  object-position: -4px -6029px;
  width: 136px;
  height: 136px;
}
.icon-png-template-template9-sidebar {
  object-fit: none;
  object-position: -4px -6165px;
  width: 136px;
  height: 136px;
}
