%div{class: 'panel col-sm-7'}
  %h1 Editing atom abbreviations
  = render 'form'
  = link_to 'Show', @atom_abbreviations, class: 'btn btn-default'
  = link_to 'Back', atom_abbreviations_path, class: 'btn btn-warning'
